.header {
  display: grid;
  grid-template-areas: 
  "title title title title title title items";
/*   
  background-color: lightgrey; */
  max-height: 110px;
}
  /* .logo--logo {
    grid-area: logo;
  } */
  .title--title {
    margin-top: 20px;
    grid-area: title;
    justify-self: center;
  }
  .header-items {
    grid-area: items;
    display: grid;
    grid-template-areas: 
    "flag login"
    "flag login"
    "flag login"
    "flag login";
    max-height: 40px;
  }
  .flag {
      grid-area: flag;
      align-self: center;
      justify-self: flex-end;
      cursor: pointer;
    }
  .Login {
      grid-area: login;
      margin: 10px 0 0 25px;
      text-decoration: underline;
      color: darkblue;
      cursor: pointer;
      justify-self: flex-start;
    }
  @media only screen and (max-width: 420px) {
      .header{
        display: grid;
        grid-template-areas: 
        "title items"
        "title items";
        height: 80px;
        border-bottom: 10px solid  rgb(22, 7, 163);
      }

      /* .logo--logo {
        display: none;
      } */
    }