.blog {
  background-color: #f2f2f2;
}
.blog-title {
  font-size: 3em;
  text-align: center;
  padding: 90px 0 50px 0;
  color:#444649;
  text-decoration: underline;
}
.posts {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  /* display: grid;
  grid-template-areas: 
  'list new new new new old old'
  'list new new new new old old'
  'list new new new new old old' */
}
.post-list {
    -webkit-box-flex: 1.5;
    -webkit-flex: 1.5;
            flex: 1.5;
  }
.post-subtitle {
    font-size: 1.3em;
    color: rgb(10, 10, 134);
    font-weight: 600;
    padding: 30px;
    margin-left: 50px;
  }
.post-keep-reading {
    font-size: 16px;
    color:#444649;
    padding: 0 0 10px 30px;
    margin-left: 50px;
    border-bottom: 0.5px solid lightgrey;
  }
.post-keep-reading:hover {
    cursor: pointer;
    font-weight: 600;
  }
.post-other {
    font-size: 1.1em;
    padding: 30px 0 15px 30px;
    color:#444649;
    margin-left: 50px;
    font-weight: 600;
    
  }
.post-subtitle--new {
      font-size: 1.3em;
      color:rgb(110, 9, 9);
      font-weight: 600;
      padding: 30px;
    }
.post-new {
      -webkit-box-flex: 3.5;
      -webkit-flex: 3.5;
              flex: 3.5;
      /* grid-area: new; */
      margin: 0 20px 0 50px;
      padding-left: 50px;
      /* border-left: 0.5px solid lightgrey; */
    }
.post-title {
        font-size: 18px;
        padding: 30px 0 0 30px;
        color:#444649;
        font-weight: 600;
      }
.post-date {
        font-size: 14px;
        padding: 5px 30px;
        color:#444649;
        font-weight: 600; 
      }
.post-content {
        padding: 0 10px;
        max-width: 100%;
        color: #444649;
        border-bottom: 0.5px solid lightgrey
      }
.post-new--keep-reading {
        padding:0 0 10px 20px;
      }
.post-new--keep-reading:hover {
        cursor: pointer;
        font-weight: 600;
      }
.post-arquivo {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
            flex: 1;
    /* grid-area: old; */
    padding-left: 20px;
    /* margin-right: 80px; */
    /* border-left: 0.5px solid lightgrey; */
  }
.post-subtitle--arquivo {
      font-size: 1.3em;
      color:rgb(10, 10, 134);
      font-weight: 600;
      padding: 30px;
    }
.post-arquivo--date {
      padding: 20px 0 0 30px;
      color:#444649;
      font-size: 1.1em;
      /* font-weight: 600; */
    }
.post-arquivo--date:hover {
      text-decoration: underline;
      /* color: black; */
      cursor: pointer;
      font-weight: 600;
    }
@media only screen and (max-width: 620px) {
  .blog {
    overflow-x: hidden;
    /* margin: 10px; */
    padding: 0;
    max-width: 100%;
  }
  .blog-title {
    font-size: 24px;
    padding: 20px 0 10px 10px;
    margin-left: 10px;
    color: #444649;
    text-align: left;
    text-align: initial;
    font-weight: bold;
  }
  .posts {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-areas: 
    'new new'
    'list list'
    'old old';
  }
  
  .post-subtitle--new {
    /* display: none; */
    /* margin-left: 0; */
    padding: 3px 0 10px 10px;
  } 
  .post-content{
    max-height: none;
  }
  .post-new--keep-reading {
    padding-left: 0;
  }
  .post-subtitle,
  .post-title,
  .post-subtitle--arquivo {
    font-size: 18px;
    margin-left: 0;
    padding: 20px 0 10px 10px;
    font-weight: bold;
    text-decoration: underline;
  }
    .post-date {
      margin-left: 0;
      padding: 3px 0 10px 10px;
    }
    p {
      padding: 5px 0 10px 0;
    }
    .post-new {
      grid-area: new;
      padding-left: 0;
      margin: 10px;
      border: none;
    }
    .post-arquivo {
      grid-area: old;
      border: none;
      padding: 0 0 0 40px;
      margin-right: 20px;
    }
    .post-arquivo--date {
      font-size: 16px;
      padding: 10px 0 10px 10px;
      font-weight: 600;  
    }
    .post-list {
      grid-area: list;
    }
}
@media only screen and (max-width: 780px) {
  .blog {
  padding: 0;
  max-width: 100%;
}
.blog-title {
  font-size: 24px;
  padding: 20px 0 10px 10px;
  margin-left: 10px;
  color: #444649;
  text-align: left;
  text-align: initial;
  font-weight: bold;
}
.posts {
  display: grid;
    grid-template-areas: 
    'new new new'
    'new new new'
    'new new new'
    'list list old';
}
  .post-subtitle--new {
    padding: 3px 0 10px 10px;
  } 
  .post-content{
    max-height: none;
  }
  
  .post-title,
  .post-subtitle--arquivo {
    font-size: 18px;
    margin-left: 0;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  .post-subtitle {
    margin: 10px;
    padding: 0 0 0 10px;
  }
  .post-date {
    margin-left: 0;
    padding: 3px 0 10px 10px;
  }
  p {
    padding: 5px 0 10px 0;
  }
.post-other {
  font-size: 1em;
  margin-left: 10px;
  padding: 10px 0 10px 10px;
  
}
.post-list {
  grid-area: list;
}
.post-new {
  grid-area: new;
  padding-left: 0;
  margin: 10px;
  border: none;
}
.post-arquivo {
  grid-area: old;
  border: none;
  padding: 0 0 0 40px;
  margin-right: 20px;
}
.post-arquivo--date {
  font-size: 16px;
  padding: 10px 0 10px 10px;
  font-weight: 600;  
}
.post-keep-reading {
  font-size: 16px;
  color:#444649;
  padding: 0 0 10px 20px;
  margin-left: 0;
  border-bottom: 0.5px solid lightgrey;
}
}

