.footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
          flex-direction: row-reverse;
  background-color: lightgray;
  width: 100%;
  position: relative;
  bottom: 0;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between
}
  .contato {
    float: right;
    margin: 0 15px 0 0;
    font-size: 14px;
  }
  .property{
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
            flex-direction: column;
    height: 100%;
    width: 40%;
    font-size: 12px;
    letter-spacing: 0.5px;
    margin: 0;
    line-height: 15px;
    margin: 0;
  }
  .arrow-top {
      margin: 10px 0 10px 15px;
      cursor: pointer;
    }
  .arrow2{
        width: 20px;
        height: 20px;
        left: 20px;
        bottom: 40px;
        border-right: 4px solid black;
        border-bottom: 4px solid black;
        -webkit-transform: rotate(225deg);
                transform: rotate(225deg);
        z-index: 1;
      }
  .arrow-top--text:hover {
        cursor: pointer;
      }
  .property--rights {
        margin-left: 10px;
        justify-self: flex-end;
      }
  @media only screen and (max-width: 780px) {
  .footer {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
  }

  .contato {
    margin-left: 5px;
   }
  .property {
    margin-right: 5px;
   }
  
}
    