.layout {
  width: 100%;
  height: 100%; 
  overflow: scroll;
}
 

@media only screen and (max-width: 620px) {
  .title--over--pic {
    font-size: 30px;
    top: 30px;
    left: 100px;
  }
  .subtitle {
    font-size: 12px;
    top: 60px;
    left: 95px;
  }
}