.menu--item {
  font-family: 'Poppins', 'Roboto Condensed', 'Acme', 'Changa One';
  color: white;
  font-size: 18px;
  -webkit-align-self: end;
          align-self: end;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  font-weight: 600;
  padding: 10px 20px 10px 20px;
}

.menu--item--style:hover {
    text-decoration: underline;
    -webkit-text-decoration-color: white;
            text-decoration-color: white;
    cursor: pointer;
    font-weight: 700;
  }

/* .icon {
    align-self: start;
    justify-self: right;
    margin-right: 4px;
  } */

.name {
    -webkit-align-self: center;
            align-self: center;
  }

@media only screen and (max-width: 620px) {
    /* .icon {
      display: none;
    } */
    .menu--item {
      font-size: 18px;
      color: black;
      padding: 6px;
      /* margin-top: 2px; */
      
    }
    .menu--item:hover {
      color: black;
      text-decoration: none;
      -webkit-transform: none;
              transform: none;
      -webkit-transform: initial;
              transform: initial;
      cursor: pointer;
      /* background-color: grey; */
    }
    .name {
      margin: 1px solid black;
    }
  }

@media only screen and (max-width: 780px) {
    /* .icon {
      display: none;
    } */
    .menu--item {
      font-size: 18px;
      color: #444649;
      padding: 6px;
      /* margin-top: 2px; */
      
    }
    .menu--item:hover {
      font-weight: 600;
      text-decoration: none;
      -webkit-transform: none;
              transform: none;
      -webkit-transform: initial;
              transform: initial;
      cursor: pointer;
      /* background-color: grey; */
    }
    .name {
      margin: 1px solid black;
    }
  }