  .results-title {
    font-size: 3em;
    text-align: center;
    padding: 90px 0 50px 0;
    color:#444649;
    text-decoration: underline;
  }
  .competitions {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
  }
  .competitions-next,
  .competitions-last {
    -webkit-box-flex: 1.5;
        -webkit-flex: 1.5;
                flex: 1.5;
    margin-left: 50px;
  }
  .competitions-last {
    margin-top: 50px;
  }
  .competitions-next--title,
    .competitions-last--title{
      font-size: 1.3em;
      color:rgb(10, 10, 134);
      padding: 30px 30px 20px 30px; 
      font-weight: 600;
    }
  .competitions-next--list, 
    .competitions-last--list {
      padding: 0 0 0 30px;
      cursor: pointer;
    }
  .competitions-next--list:hover,
    .competitions-last--list:hover {
      text-decoration: underline;
      color: rgb(36, 34, 34);
      cursor: pointer;
      font-weight: 600;
    }
  .competitions-next--listItems {
        border-bottom: 0.5px solid lightgrey;
        margin-bottom: 10px;
        padding: 0 0 15px 0;
      }
  .competitions-last--listItems {
        border-bottom: 0.5px solid lightgrey;
        margin-bottom: 10px;
        padding: 0 0 15px 0;
      }
  .competitions-results {
      -webkit-box-flex: 3.5;
          -webkit-flex: 3.5;
                  flex: 3.5;
      margin: 0 20px 0 0;
      padding-left: 70px;
      
    }
  .competitions-results--title {
      font-size: 1.3em;
      color:rgb(110, 9, 9);
      font-weight: 600;
      padding: 30px 30px 20px 50px;
    }
  .competitions-results--list {
    list-style: none;
    padding-top: 30px;
    margin: 0;
  }
  .competitions-results--listItems {
    border: 0.5px solid lightgray;
    padding: 30px 30px 30px 80px;
    margin-bottom: 10px;
    box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
    border-radius: 3px;
    cursor: pointer;
  }
  .pigeon--pic {
    max-height: 100px;
    max-width: 100px;
  }
  .competitions-images {
    -webkit-box-flex: 1;
        -webkit-flex: 1;
                flex: 1;
    margin-left: 100px;
  }
  ul{
    list-style: none;
  }
  @media only screen and (max-width: 620px) {
    .results-title {
      font-size: 22px;
      padding: 20px 0 10px 10px;
      margin-left: 10px;
      color: #444649;
      text-align: left;
      text-align: initial;
      font-weight: bold;
    }
    .competitions {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      'results results'
      'next next'
      'image image'
    }
    .competitions-results--title {
      display: none;
    }
    .competitions-results{
      grid-area: results;
      padding: 0 20px; 
      margin: 0
    }
    .competitions-results--list {
      padding: 0;
      
    }
    .competitions-next,
    .competitions-last {
      grid-area: next;
      padding: 0;
      margin: 0;
    }
    .competitions-next--title, 
    .competitions-last--title {
      font-size: 18px;
      padding: 20px 20px;
    }
    .competitions-results--title {
      padding: 20px 0 20px 0;
      margin-top: 20px;
    }
    .competitions-next--list {
      margin: 0;
    }
    .competitions-images {
      grid-area: image;
      padding: 0;
      margin: 0;
    }
    .pigeon--pic {
      margin: 10px;
    }
  }
  @media only screen and (max-width: 780px) {
    .results-title {
      font-size: 22px;
      padding: 20px 0 10px 10px;
      margin-left: 10px;
      color: #444649;
      text-align: left;
      text-align: initial;
      font-weight: bold;
    }
    .competitions {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas: 
      'results results'
      'next next'
      'image image'
    }
    .competitions-results--title {
      display: none;
    }
    .competitions-results{
      padding: 0 20px; 
      margin: 0
    }
    .competitions-results--list {
      padding: 0;
      
    }
    .competitions-next,
    .competitions-last {
      padding: 0;
      margin: 0;
    }
    .competitions-next--title, 
    .competitions-last--title {
      font-size: 18px;
      padding: 20px 20px;
    }
    .competitions-results--title {
      padding: 20px 0 20px 0;
      margin-top: 20px;
    }
    .competitions-next--list {
      margin: 0;
    }
    .competitions-images {
      padding: 0;
      margin: 0;
    }
    .pigeon--pic {
      margin: 10px;
    }
  }