.adminblog {
  display: flex;
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15);
  max-width: 50%;
  max-height: 50%;
  padding: 100px;
  margin: auto;
  overflow-x: hidden;
  
}
#titulo {
  width: 100%;
  height: 4em;
  border: 3px solid #e1e1e1;
}
#conteudo {
  display: block;
  box-sizing: border-box;
  font: 0.9em Lato, Helveltica, sans-serif;
  width: 100%;
  height: 15em;
  margin-top: 15px;
  overflow: auto;
  border: 3px solid #e1e1e1;
  /* line-height: normal; */
  
}
.admin-panel {
  display: flex;
  flex-direction: column;
  align-content: center;
  
  width: 100%;
  height: 100%;
  border: 1px solid black;
}
  .admin-panel--title{
    display: flex;
    height: 40px;
    font-size: 22px;
    background-color: rgb(209, 206, 211);
    padding-left: 10px;
    border-bottom: 1px solid black;
    align-items: center;
   
  }

  .admin-panel--content {
    height: calc(100% - 40px);
    padding: 25px;
  }
    .admin-panel--list {
      border: 1px solid black;
      height: 100%;
    }

      .admin-panel--item {
        display: flex;
        height: 40px;
        border-bottom: 1px solid black;
        padding-left: 10px;
        align-items: center;
      
      }


      .admin-panel--item--title {
        flex-grow: 1;
        font-weight: 600;
      }
      .admin-panel--item--edit,
      .admin-panel--item--delete {
        width: 80px;
        cursor: pointer;
      }
        .delete-button {
          background-color: rgb(163, 24, 24);
          color: white;
        }



  .postData {
    width: 100%;
    height: 50%;
}