.faixa {
  width: 100%;
  height: 100vh;
  /* overflow: hidden; */
  position: relative;
  background: url("./images/Overview_lofts.jpg");
  background-attachment: scroll;
  background-size: cover;
}
  .pigeon--pic{
    width: 100%;
    height: 100%;
  }
  .title--over--pic {
    font-family: 'Poppins', 'Roboto Condensed', 'Acme', 'Changa One';
    font-size: 65px;
    color: white;
    position: absolute;
    top: 230px;
    left: 250px;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
  }
  .subtitle {
    font-family: 'Poppins', 'Acme', 'Changa One';
    font-size: 20px;
    color: white;
    position: absolute;
    top: 295px;
    left: 230px;
    transform: translate(-50%, -50%);
    /* overflow: hidden; */
  }
  .arrow {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 340px;
    left: 210px;
    border-right: 4px solid white;
    border-bottom: 4px solid white;
    transform: rotate(45deg);
    animation: animate 1.5s infinite;
    /* overflow: hidden; */
  }
  /* @keyframes animate {
    0% {opacity: 0};
    50%{opacity: 1};
    100%{opacity: 0};
  } */
  .arrow:hover {
    cursor: pointer;
  }


@media only screen and (max-width: 420px) {
  .title--over--pic {
    font-size: 30px;
    top: 30px;
    left: 100px;
  }
  .subtitle {
    font-size: 12px;
    top: 60px;
    left: 95px;
  }
}
@media only screen and (max-width: 620px) {
  .faixa {
    width: 100%;
  }
  .title--over--pic {
    font-size: 30px;
    top: 30px;
    left: 100px;
  }
  .subtitle {
    font-size: 12px;
    top: 60px;
    left: 95px;
  }
}