.faixa {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url("./images/Overview_lofts.jpg");
  background-attachment: scroll;
  background-size: cover;
}
  .pigeon--pic{
    width: 100%;
    height: 100%;
  }
  .title--over--pic {
    font-family: 'Poppins', 'Roboto Condensed', 'Acme', 'Changa One';
    font-size: 65px;
    color: white;
    position: absolute;
    top: 200px;
    left: 250px;
    transform: translate(-50%, -50%);

  }
  .arrow {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 310px;
    left: 230px;
    border-right: 5px solid white;
    border-bottom: 5px solid white;
    transform: rotate(45deg);
    animation: animate 1.5s infinite;
  }

  .arrow:hover {
    cursor: pointer;
  }


@media only screen and (max-width: 420px) {
  .title--over--pic {
    font-size: 30px;
    top: 30px;
    left: 100px;
  }
  .arrow {
    display: none;
  }
}
@media only screen and (max-width: 780px) {
  .faixa {
    width: 100%;
    background-position: 30% 75%;
    background-size: cover;
    /* background-position-x: 33.333%;
    zoom: 1.3; */
  }
  .title--over--pic {
    font-size: 30px;
    top: 30px;
    left: 100px;
  }
  .arrow {
    display: none;
  }

}