.posts {
  display: grid;
  grid-template-areas: 
  "old new new . . ."
  "old new new . . ." 
}

  .posts--old {
    grid-area: old;
    margin: 2em 2em 2em 1.7em;
    max-width: 270px;
    height: 40vh;
    font-weight: 550;
    color: #444649;

  }
  .posts--new {
    grid-area: new;
    padding: 50px 0 50px 0;
    /* margin: 2em 10em 2em 2em; */
    max-width: 100%;
    height: 100vh;
    color: #444649;
  }
    .articles {
      font-size: 3em;
      text-align: center;
      padding-top: 40px;
      color:#444649;
    }
    .articles--title {
      font-size: 16px;
      padding: 20px;
    }

    h3, h4 {
      margin: 0 20px;
      text-align: justify;
      line-height: 20px;

    }
    h4 {
      font-weight: normal;
      padding-top: 25px;
      cursor: pointer;
    }

    h4:hover {
      text-decoration: underline;
      color: darkblue;
    }


@media only screen and (max-width: 420px) {
  .posts {
    display: grid;
    grid-template-areas: 
    'new new new'
    'new new new'
    'new new new'
    'old old old';
  }
  .articles {
    font-size: 22px;
    padding: 20px 0 10px 10px;
    color: #444649;
    text-align: initial;
    font-weight: bold;
  }
  .articles--title {
    padding: 20px 0 10px 10px;
    font-weight: bold;
  }
  .posts--new {
    padding: 0;
    margin: 10px;
  }
  
}

@media only screen and (max-width: 420px) {
}