.blog {
  background-color: #f2f2f2;
  display: flex;
}
.blog-title {
  font-size: 3em;
  text-align: center;
  padding: 70px;
  color:#444649;
  text-decoration: underline;
}
.blog-content{
  display: flex;
  flex-direction: column;
  flex: 3.5;
  
}
.posts {
  display: flex;
}
    .post-subtitle--new {
      font-size: 1.3em;
      color:rgb(110, 9, 9);
      font-weight: 600;
      padding: 30px 0;
    }
    .post-new {
      flex: 3.5;
      margin: 0 20px 0 0;
      padding-left: 70px;
    }
      .post-title {
        font-size: 18px;
        padding-top: 30px;
        color:#444649;
        font-weight: 600;
      }
      .post-date {
        font-size: 14px;
        padding: 5px 0 30px 0;
        color:#444649;
        /* font-weight: 600;  */
      }
      .post-content {
        max-width: 100%;
        color: #444649;
        border-bottom: 0.5px solid lightgrey;
        font-weight: 400;
      }
  .post-arquivo {
    /* padding-left: 30px; */
    flex: 1.5;
    margin-left: 50px;
  }
    .post-subtitle--arquivo {
      font-size: 1.3em;
      color:rgb(10, 10, 134);
      font-weight: 600;
      padding: 30px;
    }
    .post-arquivo--date {
      padding: 20px 0 0 30px;
      color:#444649;
      font-size: 1.1em;
      /* font-weight: 600; */
    }
    .post-arquivo--date:hover {
      text-decoration: underline;
      /* color: black; */
      cursor: pointer;
      font-weight: 600;
    }
  .artigos {
    background-color: white;
    flex: 0.7;
    font-size: 1.3em;
    text-align: center;
    color: rgb(10, 10, 134);
    padding: 30px 30px 20px 30px;
    font-weight: 600;
  }

@media only screen and (max-width: 420px) {
  .blog {
    overflow-x: hidden;
    /* margin: 10px; */
    padding: 0;
    max-width: 100%;
  }
  .blog-title {
    font-size: 24px;
    padding: 20px 0 10px 10px;
    margin-left: 10px;
    color: #444649;
    text-align: initial;
    font-weight: bold;
  }
  .posts {
    /* display: flex;
    flex-direction: column; */
    display: grid;
    grid-template-areas: 
    'new new'
    'list list'
    'old old';
  }
  
  .post-subtitle--new {
    /* display: none; */
    /* margin-left: 0; */
    padding: 3px 0 10px 10px;
  } 
  .post-content{
    max-height: none;
  }
  .post-new--keep-reading {
    padding-left: 0;
  }
  .post-subtitle,
  .post-title,
  .post-subtitle--arquivo {
    font-size: 18px;
    margin-left: 0;
    padding: 20px 0 10px 10px;
    font-weight: bold;
    text-decoration: underline;
  }
    .post-date {
      margin-left: 0;
      padding: 3px 0 10px 10px;
    }
    p {
      padding: 5px 0 10px 0;
    }
    .post-new {
      grid-area: new;
      padding-left: 0;
      margin: 10px;
      border: none;
    }
    .post-arquivo {
      grid-area: old;
      border: none;
      padding: 0 0 0 40px;
      margin-right: 20px;
    }
    .post-arquivo--date {
      font-size: 16px;
      padding: 10px 0 10px 10px;
      font-weight: 600;  
    }
    .post-list {
      grid-area: list;
    }
}

@media only screen and (max-width: 780px) {
  .blog {
  padding: 0;
  max-width: 100%;
}
.blog-title {
  font-size: 24px;
  padding: 20px 0 10px 10px;
  margin-left: 10px;
  color: #444649;
  text-align: initial;
  font-weight: bold;
}
.posts {
  display: grid;
    grid-template-areas: 
    'new new new'
    'new new new'
    'new new new'
    'list list old';
}
  .post-subtitle--new {
    padding: 3px 0 10px 10px;
  } 
  .post-content{
    max-height: none;
  }
  
  .post-title,
  .post-subtitle--arquivo {
    font-size: 18px;
    margin-left: 0;
    padding: 10px 0 10px 10px;
    font-weight: bold;
    text-decoration: underline;
  }
  .post-subtitle {
    margin: 10px;
    padding: 0 0 0 10px;
  }
  .post-date {
    margin-left: 0;
    padding: 3px 0 10px 10px;
  }
  p {
    padding: 5px 0 10px 0;
  }
.post-other {
  font-size: 1em;
  margin-left: 10px;
  padding: 10px 0 10px 10px;
  
}
.post-list {
  grid-area: list;
}
.post-new {
  grid-area: new;
  padding-left: 0;
  margin: 10px;
  border: none;
}
.post-arquivo {
  grid-area: old;
  border: none;
  padding: 0 0 0 40px;
  margin-right: 20px;
}
.post-arquivo--date {
  font-size: 16px;
  padding: 10px 0 10px 10px;
  font-weight: 600;  
}
.post-keep-reading {
  font-size: 16px;
  color:#444649;
  padding: 0 0 10px 20px;
  margin-left: 0;
  border-bottom: 0.5px solid lightgrey;
}
}

