.content--grid {
  display: grid;
  width: 100%;
  height: 100vh;
  grid-template-areas: 
  'left main main main right';
  /* grid-template-columns: 300px auto 300px;
  grid-template-rows: 100vh; */
  overflow-y: scroll;
  
}
  .content--left,
  .content--main,
  .content--right {
    height: 100vh;
  }
  .content--left {
    grid-area: left;
  }
    .news {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 2em 1.7em 2em 1.7em;
      width: 270px;
      height: 40vh;
      font-weight: 550;
      
    }
    h3 {
      padding-top: 30px;
    }
    h3, h4 {
      margin: 12px;
      text-align: justify;
      line-height: 20px;

    }
    h4 {
      font-weight: normal;
    }
    .content--main {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      margin: 2rem;
      grid-area: main;
      
    }
      h1 {
        padding: 0 0 10px 20px;
      }
      p {
        padding: 0 20px;
        text-align: justify;
        line-height: 26px;

        
      }
    
      .content--right {
        display: grid;
        grid-template-rows: 35vh 5vh 5vh;
        grid-area: right;
        
      } 
        .videos {
          margin-top: 35px;
          
        }
        
        .canal-youtube--text {
          margin-top: 15px;
          max-height: 50px;
        }
        .canal-youtube {
          display: grid;
          grid-template-columns: 60px 220px;
          max-height: 50px;
          align-self: top;
        }



@media only screen and (max-width: 420px) {
  .content--grid {
    display: grid;
    grid-template-areas: 
    'main'
    'main'
    'left'
    'right';
  }
  .content--left,
  .content--right{
    height: 50vh;
  }

  .content--main{
    height: 100vh;
  }
  .content--right {
    justify-content: center;
    display: inline;
    justify-self: center
  }
  .news {
    width: 85%;
  }
  
}