.lateral{
  display: flex;
  height: 100%;
  background-color: white;
  padding: 50px 80px;
  max-width: 20%;
}
  .lateral-content{
    display: flex;
    flex-direction: column;
  }
  .competitions-images {
    -webkit-box-flex: 1;
        -webkit-flex: 1;
                flex: 1;
    text-align: center;
    color: rgb(10, 10, 134);
    padding: 30px 20px 20px 30px;
    font-weight: 600;
    
  }
  .pigeon--pic {
    max-height: 100px;
    max-width: 100px;
  }

  .anuncios {
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0.7;
    padding: 70px 30px 20px 30px;
    
  }
    .anuncios-title {
      font-size: 1.5em;
      color:rgb(10, 10, 134);
      padding: 0 30px 30px 30px; 
      font-weight: 600;
    }
    .anuncios-content{
      display: flex;
      flex-direction: column;
    }
      .anuncios-content-- {
        border: 1px solid black;
        height: 20vh;
        margin: 40px 0;
      }

  .artigos {
    
    background-color: white;
    flex: 1;
    padding: 30px 20px 20px 30px;
    font-weight: 600;
    border: 1px solid black;
    text-align: left;

  }
    .artigos-titulo{
      font-size: 1.4em;
      color: rgb(10, 10, 134);
      text-align: left;
      padding-bottom: 20px;
    }
    .artigos-conteudo {
      border-bottom: 0.5px solid lightgrey;
      padding-bottom: 20px;
      font-size: 18px;
    }

@media only screen and (max-width: 620px) {
  .lateral {
    margin: 0;
    max-width: 100%;
  }
} 
@media only screen and (max-width: 780px) {
  .lateral {
    margin: 0;
    max-width: 100%;
  }
}