.menu {
  margin: 10px 15px 0 15px;
  
}
  .hamburger {
    display: none;
  }
  .menu--dropdown {
    justify-content: space-evenly;
    display: grid;
    grid-template-columns: repeat(5, auto);
    position: sticky;
    position: -webkit-sticky;
    top: -1px;
    background-color: #fff;
    z-index: 9999;
    transition: height 2s;
  }

@media only screen and (max-width: 420px) {
  
  .hamburger {
    display: block;
    cursor: pointer;
  }
  
    .menu--dropdown {
      grid-template-columns: 100%;
      grid-template-rows: repeat(5, auto);
      padding: 20px;
      transition: height 2s;

    }

    .menu--dropdown.open {
      height: 100%;
      width: 130px;
      visibility: visible;
      display: block;
      background-color: #f9f9f9;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      z-index: 1;
      transition-timing-function: linear;
      
    }
    .menu--dropdown.closed {
      height: 0px;
      display: none;  
      transition-timing-function: linear;
    }

  
}
 

  