.menu--item {
  font-family: 'Poppins', 'Roboto Condensed', 'Acme', 'Changa One';
  color: white;
  font-size: 18px;
  align-self: end;
  display: flex;
  /* display: grid;
  grid-template-columns: auto; */
  font-weight: 600;
  /* background-color: white; */
  padding: 10px 20px 10px 20px;
}

.menu--item--style:hover {
    text-decoration: underline;
    cursor: pointer;
    font-weight: 700;
  }

  .icon {
    align-self: start;
    justify-self: right;
    margin-right: 4px;
  }
  .name {
    align-self: center;
  }

  @media only screen and (max-width: 420px) {
    .icon {
      display: none;
    }
    .menu--item {
      font-size: 18px;
      color: black;
      padding: 6px;
      /* margin-top: 2px; */
      
    }
    .menu--item:hover {
      color: black;
      text-decoration: none;
      transform: initial;
      cursor: pointer;
      /* background-color: grey; */
    }
    .name {
      margin: 1px solid black;
    }
  }
  @media only screen and (max-width: 620px) {
    .icon {
      display: none;
    }
    .menu--item {
      font-size: 18px;
      color: #444649;
      padding: 6px;
      /* margin-top: 2px; */
      
    }
    .menu--item:hover {
      font-weight: 600;
      text-decoration: none;
      transform: initial;
      cursor: pointer;
      /* background-color: grey; */
    }
    .name {
      margin: 1px solid black;
    }
  }