.menu--item {
  color: darkblue;
  font-size: 20px;
  align-self: end;
  display: grid;
  grid-template-columns: 35px auto;

}
.menu--item:hover {
    text-decoration: underline;
    transform: scale(1.1);
    cursor: pointer;
    font-weight: 550;
  }

  .icon {
    align-self: start;
    justify-self: right;
    margin-right: 4px;
  }
  .name {
    align-self: center;
  }

  @media only screen and (max-width: 420px) {
    .icon {
      display: none;
    }
    .menu--item {
      font-size: 18px;
      margin: 1px 0 4px 0;
      
    }
    .menu--item:hover {
      color: white;
      text-decoration: none;
      transform: initial;
      cursor: pointer;
      background-color: grey;
    }
    .name {
      margin: 1px solid black;
    }
  }