.midia {
  margin: 140px 70px;
  background-color: white;
  display: flex;
}
.midia-title {
  font-size: 3em;
  text-align: left;
  padding: 60px 70px 50px 80px;
  color: #444649;
  text-decoration: underline;
}
.midia-content {
  display: flex;
  flex-direction: column;
  flex: 6;
  padding-bottom: 60px;
}
.midias {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: 80px;
}
.videos-subtitle {
  font-size: 24px;
  color: rgb(110, 9, 9);
  font-weight: 600;
}
.videos {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
}
.videos-text {
  font-size: 20px;
  color: #444649;
  font-weight: 600;
  padding: 30px 0 20px 0;
}
.videos-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
}
.news {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  flex: 1;
  margin-left: 50px;
  padding: 0 60px 0 40px; 
  height: 300px;
}
.news-subtitle {
  font-size: 24px;
  color: rgb(110, 9, 9);
  font-weight: 600;
}
.news-new--content {
  padding-top: 30px;
  overflow-y: scroll; 
 
}
.news-title {
  font-size: 20px;
  padding-bottom: 15px
}
.news-content {
  font-size: 16px;
  margin-bottom: 30px;
  color: #444649;
  border-bottom: 0.5px solid lightgrey;
}
.canal-youtube--text {
  font-size: 18px;
  margin-top: 15px;
  max-height: 50px;
  color: #444649;
}
.canal-youtube {
  display: grid;
  margin-top: 10px;
  grid-template-columns: 60px 220px;
  max-height: 50px;
}
.anuncios {
  display: flex;
  flex-direction: column;
  background-color: white;
  flex: 0.7;
  padding: 30px 30px 20px 30px;
}
.anuncios-title {
  font-size: 1.4em;
  color: rgb(10, 10, 134);
  text-align: left;
  padding-bottom: 20px;
  font-weight: 600;
}
.anuncios-content {
  display: flex;
  flex-direction: column;
}
.anuncios-content-- {
  border: 1px solid black;
  height: 20vh;
  margin: 40px 0;
}
@media only screen and (max-width: 620px) {
  .midia {
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 0 50px 0;
  }
  .midia-title {
    font-size: 24px;
    padding: 20px 0 10px 10px;
    margin-left: 10px;
    color: #444649;
    text-align: left;
    text-align: initial;
    font-weight: bold;
  }
  .midias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow: hidden;
    margin-bottom: 20px;
  }
  .news-subtitle,
  .videos-subtitle {
    font-size: 18px;
    padding: 0 0 10px 20px;
    font-weight: 600;
  }
  .news {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin: 10px;
    margin-left: 0;
    padding: 0;
  }
  .news-title {
    padding: 0 0 0 20px;
    font-size: 18px;
    margin: 0;
  }
  .news-content {
    color: #444649;
    border-bottom: 0.5px solid lightgrey;
    font-size: 16px;
  }
  .canal-youtube--text {
    padding: 0 0 10px 20px;
  }
  .canal-youtube {
    margin: 0 10px 30px 10px;
  }
  .news-new--content {
    padding-top: 20px;
  }
} 
@media only screen and (max-width: 1024px) {
  .midia {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 100%;
    margin: 0 0 50px 0;
  }
  .midia-title {
    font-size: 22px;
    padding: 20px 0 10px 10px;
    margin-left: 10px;
    color: #444649;
    text-align: left;
    text-align: initial;
    font-weight: bold;
  }
  .midias {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
    flex-direction: column-reverse;
    overflow: hidden;
    margin: 0;
  }
  .midia-subtitle {
    font-size: 16px;
    padding: 20px 0 10px 20px;
    color: #444649;
    font-weight: 600;
  }
  .news-subtitle,
  .videos-subtitle {
    font-size: 18px;
    padding: 0 0 10px 20px;
    font-weight: 600;
  }
  .news {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    flex: 1;
    margin: 10px;
    margin-left: 0;
    padding: 0;
  }
  .news-title {
    padding: 0 0 0 20px;
    font-size: 18px;
    margin: 0;
  }
  .news-content {
    margin: 15px 20px;
    color: #444649;
    border-bottom: 0.5px solid lightgrey;
  }
  .canal-youtube--text {
    padding: 0 0 10px 20px;
  }
  .canal-youtube {
    margin: 0 10px 30px 10px;
  }
  .video {
    margin-left: 20px;
  }
  .videos-text {
    margin-left: 20px;
    padding: 10px 0 10px 0;
  }
  .videos-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    flex-direction: row;
    margin-left: 20px
  }
  .video{
    margin: 0 50px 30px 0;
  }
  .anuncios {
    display: flex;
    flex-direction: column;
  }
  .anuncios-title {
    text-align: left;
    font-size: 18px;
  }
  .anuncios-content {
    flex-direction: row;
    width: 80vw;
    margin: 0;
    padding: 20px;
  }
  .anuncios-content-- {
    margin: 10px 20px 10px 0;
  }
  .news-new--content {
    padding-top: 20px;
  }
}
