.icon--youtube {
  margin-right: 10px;
}
.icon--youtube:hover {
  cursor: pointer;
}

@media only screen and (max-width: 420px) {
  .icon--youtube {
    padding: 10px 0 0 10px;
    margin-right: 0;
    
  }
  
}
