.menu-list-content {
  display: flex;
  flex-direction: column;
  padding: 40px;
  color: #6f7b7e;
}
.item {
  display: flex;
  padding: 10px 0;
  font-size: 18px;
}
.item-name {
  padding-left: 10px;
}
.item-name:hover {
  cursor: pointer;
  text-decoration: underline;
}
.active {
  background-color: #f1f1f1;
}
